:root {
  --bgcolor: #000000;
  --fontcolor: #ffffff;
  --lightgray: #cccccc;
  --fontsize: 17px;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
