.container {
  padding: 150px 50px;
  background-color: var(----lightgray);
  height: 300px;
  display: flex;
  justify-content: space-around;
}
.name {
  padding: 25px 0px;
  text-align: start;
  width: 30%;
}
.name h1 {
  color: #24262a;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Poppins";
}
.name p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #4d5055;
  font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

* {
  /* border: 1px solid red; */
}
.education {
  padding: 25px 0px;
  width: 30%;
}
