.conatiner {
  width: 94%;
  height: 70px;
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgcolor);
  color: var(--fontcolor);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.links {
  margin-right: 10px;
}
.link {
  padding: 10px;
  text-decoration: none;
  color: var(--fontcolor);
  font-size: var(--fontsize);
}
